/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/


@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
*{
    padding: 0%;
    margin: 0%;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    scroll-behavior: smooth;
    
}
  
body::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
     background:  #000000;
     border-radius: 50px;
}
::-webkit-scrollbar-track {
     background: #ffffff; 
}

  
.header{
    min-height: 100vh;
    height: max-content;
    background:url(images/cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.nav{
    height: 12vh;
    z-index: 99;
    width: 100%;
    display: flex;
    flex-wrap: wrap;      
    top: 0%;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.nav>div{
    margin: 4vh auto;  

}
.logo{
    width: 20%;

}
.logo h2{
    margin-left:50px;
    font-size: 25px;
}   
.nav-mid{
    width: 70%;
    display: inline-flex;
    flex-direction: row-reverse;
}   

.nav-mid ul a{
    text-decoration: none;
    padding: 15px 35px;
    font-size:23px;
    color: #1a1a1a;
}
.nav-mid a:hover{
    transition:cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
    border-bottom: 3px solid black;
    color: black;
}

.nav-mob{
    width: 0%;
    display: none;
}
.navigation-div{
    overflow: hidden;
    width: 0%;
    height: 80vh;
    margin-right: -47%;
    right: 50%;
    border-radius: 5px;
    text-align: center;
    z-index: 99;
    transition: ease-in-out .5s;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.navigation-div-items{
    display: none;
    
}

.header-text{
     width: 40%;
     height: max-content;
     margin-top:25vh;
     margin-left: 75px;
}  
.header-text h2{
    font-size: 42px;
}
.header-text p{
    font-size: 15px;
    font-weight: 300;
}
.header-text a{
  
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: #1a1a1a;
    border: 1px solid black;
    
}
.header-text a:hover{
    transition: ease-in-out .5s;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
} 
.header-text h3{
    margin-top:auto;
} 
.social{
    height: 15vh;
    margin: 5vh auto;
    background-color: #ffffff;
}
.social a{
    padding: 10px;
    text-decoration: none;
    border: none;
}
.email_subscription{
    height: 35vh;
   
}
.email_subscription p{
    text-align: center;
    font-size: 30px;
}
.form{
text-align: center;
height: max-content;
margin-top: 5vh;

}
#email{
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 300px;
    height: 55px;
    margin-left: 10px;
}
#subscribe{
    
    padding: 20px 50px;
    background-color: rgb(255, 255, 255);
    border: .5px solid #1a1a1a;
    color: rgb(0, 0, 0);
    margin: 0% 5px;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

#success{
   color: white;
}
.footer{
    height: 5vh;
    display: flex;
    
}
.copyright{
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.copyright a{
    text-decoration: none;
    color: #1a1a1a;
}
 
 
  
/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/
  
@media (min-width: 1025px) and (max-width: 1280px) {
    
.header{
    height: max-content;
    background:url(images/cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav{
    height: 12vh;
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-wrap: wrap;      
      
}
.nav>div{
    margin: 4vh auto;  

}
.logo{
    width: 20%;

}
.logo h2{
    margin-left:50px;
}   
.nav-mid{
    width: 70%;
    display: inline-flex;
    flex-direction: row-reverse;
}   

.nav-mid ul a{
    text-decoration: none;
    padding: 20px 45px;
    
    font-size: 25px;
    color: #1a1a1a;
}

.nav-mob{
    width: 0%;
    display: none;
}
.header-text{
     width: 40%;
     height: max-content;
     margin-top:25vh;
     margin-left: 75px;
}  
.header-text h2{
    font-size: 42px;
}
.header-text p{
    font-size: 15px;
    font-weight: 300;
}
.header-text a{
  
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: #1a1a1a;
    border: 1px solid black;
} 
.header-text a:hover{
    transition: ease-in-out .5s;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
} 
.header-text h3{
    margin-top: 7vh;
}
.social{
    height: 15vh;
    margin: 5vh auto;
    background-color: #ffffff;
}
.social a{
    padding: 10px;
    text-decoration: none;
    border: none;
}
.email_subscription{
    height: 35vh;
}
.email_subscription p{
    text-align: center;
    font-size: 30px;
}
.form{
text-align: center;
height: max-content;
margin-top: 5vh;
}
#email{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 300px;
    height: 55px;
    margin-left: 10px;
}
#subscribe{
    padding: 20px 50px;
    background-color: rgb(255, 255, 255);
    border: .5px solid #1a1a1a;
    color: rgb(0, 0, 0);
    margin: 0% 5px;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
#success{
   color: white;
}
.footer{
    height: 5vh;
    display: flex;
    bottom: 0;
}
.copyright{
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.copyright a{
    text-decoration: none;
    color: #1a1a1a;
}   
    
}
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
    
@media (min-width: 768px) and (max-width: 1024px) {
    
.header{
    height: max-content;
    background:url(images/cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav{
    height: 12vh;
    background-color:#ffffff;
    width: 100%;
    display: flex;
    flex-wrap: wrap;      
      
}
.nav>div{
    margin: 4vh auto;  

}
.logo{
    width: 20%;

}
.logo h2{
    margin-left:50px;
}   
.nav-mid{
    width: 70%;
    display: inline-flex;
    flex-direction: row-reverse;
}   

.nav-mid ul a{
    text-decoration: none;
    padding: 20px 15px;
    
    font-size: 20px;
    color: #1a1a1a;
}

.nav-mob{
    width: 0%;
    display: none;
}
.header-text{
     width: 65%;
     height:max-content;
     margin-top:25vh;
     margin-left: 75px;
}  
.header-text h2{
    font-size: 42px;
}
.header-text p{
    font-size: 15px;
    font-weight: 300;
}
.header-text a{
  
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: #1a1a1a;
    border: 1px solid black;
}
.header-text a:hover{
    transition: ease-in-out .5s;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}  
.header-text h3{
    margin-top: 7vh;
}
.social{
    height: 15vh;
    width:max-content;
    margin: 5vh auto;
    background-color: transparent;
}
.social a{
    padding: 10px;
    text-decoration: none;
    border: none;
}     
    
}
/* 
    ##Device = ipad Pro (landscape)
    ##Screen = B/w 768px to 1024px
  */
@media (min-width: 1024px) and (min-height: 1366px) {
    
.header{
    height: 85vh;
    background:url(images/cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav{
    height: 12vh;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-wrap: wrap;      
      
}
.nav>div{
    margin: 4vh auto;  

}
.logo{
    width: 20%;

}
.logo h2{
    margin-left:50px;
}   
.nav-mid{
    width: 70%;
    display: inline-flex;
    flex-direction: row-reverse;
}   

.nav-mid ul a{
    text-decoration: none;
    padding: 20px 15px;
    
    font-size: 20px;
    color: #1a1a1a;
}

.nav-mob{
    width: 0%;
    display: none;
}
.header-text{
     width: 65%;
     height:max-content;
     margin-top:25vh;
     margin-left: 75px;
} 
 
.header-text h2{
    font-size: 42px;
}
.header-text p{
    font-size: 15px;
    font-weight: 300;
}
.header-text a{
  
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: #1a1a1a;
    border: 1px solid black;
} 
.header-text a:hover{
    transition: ease-in-out .5s;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
} 
.header-text h3{
    margin-top: 7vh;
}
.social{
    height: 15vh;
    width: max-content;
    margin: 5vh auto;
    background-color: transparent;
}
.social a{
    padding: 10px;
    text-decoration: none;
    border: none;
}          
    
}
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
   
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
}
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
@media (min-width: 481px) and (max-width: 767px) {
    
    .header{
        height:150vh;
        background:url(images/cover.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       
    }
    .nav{
        height: 12vh;
        background-color: #ffffff;
        width: 100%;
        display: flex;
        flex-wrap: wrap;      
        background-color: #fff !important;
        transition: background-color 200ms linear;  
    }
    
    .nav>div{
        margin: 4vh auto;  
    
    }
    .logo{
        width: 20%;
    
    }
    .logo h2{
        margin:auto -30px;
    }   
    .nav-mid{
        width:0%;
        display: inline-flex;
        flex-direction: row-reverse;
    }   
    
    .nav-mid ul a{
        display: none;
    }
    
    .nav-mob{
        width: 20%;
        display: block;
    }
    #segment{
       
        margin-right: 10px;
        font-size: 35px;
    }
    #segment1{
        display: none;
        margin-right: 10px;
        font-size: 35px;
    }
    #navigation-div{
        overflow: hidden;
        width: 0%;
        height: 80vh;
        margin-right: -50%;
        right: 50%;
        border-radius: 5px;
        text-align: center;
        z-index: 99;
        transition: ease-in-out .5s;
        position: fixed;
        background-color: #ffffff;
        backdrop-filter: blur(16px) saturate(188%);
        -webkit-backdrop-filter: blur(16px) saturate(188%);
        background-color: rgb(255 255 255 / 75%);
        
    }
    .navigation-div-items{
            font-family: 'Otomanopee One', sans-serif;
            color: rgb(0, 0, 0);
            display: block;
    }
    .navigation-div-items ul li {
        text-decoration: none;
        color: black;
    }
    .navigation-div-items a{
        text-decoration: none;
        color: black;
    }
    .header-text{
         width: 60%;
         height: max-content;
         margin:17vh 30px;
         
    }  
    .header-text h2{
        font-size: 30px;
        text-align: left;
    }
    .header-text p{
        font-size: 18px;
        font-weight: 300;
    }
    .header-text a{
      
        padding: 10px;
        text-decoration: none;
        font-size: 25px;
        color: #1a1a1a;
        border: 1px solid black;
    } 
    .header-text h3{
        margin-top: 4vh;
    }
    .social{
        height: 15vh;
        width:max-content;
        margin: 5vh auto;
        background-color: transparent;
    }
    .social a{
        padding: 10px;
        text-decoration: none;
        border: none;
    } 
    .email_subscription{
        z-index: 99;
        position: relative;
       
        height: max-content;
        background-color: white;
    }  
    .footer{
        height: max-content;
    }
}
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
@media (min-width: 320px) and (max-width: 480px) {
    
   
    .nav{
        height: 11vh;
        background-color: #ffffff;
        width: 100%;
        display: flex;
        flex-wrap: wrap;      
        z-index: 99;
    }
    .nav>div{
        margin: 4vh auto;  
    
    }
    .logo{
        width: 60%;
    
    }
    .logo h2{
        margin-left: 10px;
        font-size: 25px;
    }   
    .nav-mid{
        width:0%;
        display: inline-flex;
        flex-direction: row-reverse;
    }   
    
    .nav-mid ul a{
        display: none;
    }
    
    .nav-mob{
        width:20%;
        display: inline-flex;
    }
    #segment{
       
        margin-right: 10px;
        font-size: 35px;
    }
    #segment1{
        display: none;
        margin-right: 10px;
        font-size: 35px;
    }
    #navigation-div{
        overflow: hidden;
        width: 0%;
        height: 60vh;
        margin-top: 12vh;
        margin-right: -50%;
        right: 50%;
        border-radius: 5px;
        text-align: center;
        z-index: 99;
        transition: ease-in-out .5s;
        position: fixed;
        background-color: #ffffff;
        backdrop-filter: blur(16px) saturate(188%);
        -webkit-backdrop-filter: blur(16px) saturate(188%);
        background-color: rgb(255 255 255 / 75%);
        
    }
    .navigation-div-items{
            font-family: 'Otomanopee One', sans-serif;
            color: rgb(0, 0, 0);
            display: block;
    }
    .navigation-div-items ul li {
        text-decoration: none;
        color: black;
    }
    .navigation-div-items a{
        text-decoration: none;
        color: black;
    }
    .header{
        min-height: 100vh;
        height: max-content;
        background:url(images/mobile.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        display: flex;
    }
    .header-text{
         width: 90%;
         height: max-content;
         margin:17vh auto;
         z-index: 0;
    }  
    .header-text h2{
        font-size: 30px;
        text-align: left;
    }
    .header-text p{
        font-size: 18px;
        font-weight: 300;
    }
    .header-text a{
      
        padding: 10px;
        text-decoration: none;
        font-size: 15px;
        color: #1a1a1a;
        border: 1px solid black;
    } 
    .header-text a:hover{
        transition: ease-in-out .5s;
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
    } 
    .header-text h3{
        margin-top: 7vh;
    }
    .social{
        height: 15vh;
        
        margin: 5vh auto;
        background-color: transparent;
    }
    .social a{
        padding: 10px;
        text-decoration: none;
        border: none;
        font-size: 25px;
    }
    .email_subscription{
      position: relative;  
      height: max-content;
      z-index: 99;
      background-color: #ffffff;
    }
    form{
        height:max-content;
        margin-top: 0vh;
       
    }
    .email_subscription p {
        text-align: center;
        font-size: 25px;
        
    }
    #subscribe{
        padding: 20px 50px;
        background-color: rgb(255, 255, 255);
        border: .5px solid #1a1a1a;
        color: rgb(0, 0, 0);
        margin: 15px 5px;
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }
    .footer{
        height: 5vh;
        display: flex;
       
    }
    .copyright{
        width:100%;
        display: flex;
        justify-content: center;
        text-decoration: none;
    }
    .copyright a{
        text-decoration: none;
        color: #1a1a1a;
    }
 
    
}  
